/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Global styles
 */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
